BR2_arm=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="/home/pawel/x-tools/arm-unknown-linux-gnueabi"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-unknown-linux-gnueabi"
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_2=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="lnxDev"
BR2_TARGET_GENERIC_ISSUE="LinuksSlonka"
BR2_ROOTFS_DEVICE_TABLE="board/wojtech/common/device-table.txt"
BR2_TARGET_GENERIC_ROOT_PASSWD="toor"
BR2_ROOTFS_USERS_TABLES="board/wojtech/common/users-table.txt"
BR2_ROOTFS_OVERLAY="board/wojtech/common/rootfs-overlay board/wojtech/qemu-arm/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/wojtech/common/post-build.sh board/wojtech/qemu-arm/post-build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.4.4"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/wojtech/qemu-arm/linux-3.4.4-qemu.config"
BR2_LINUX_KERNEL_ZIMAGE=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/wojtech/common/busybox-1.22.1.config"
BR2_PACKAGE_ECUAPP=y
BR2_PACKAGE_DROPBEAR=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
